.eyeToggleButton {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.eyeIcon {
  width: 16px;
  height: 16px;
}

