.footer {
  height: fit-content;
  background: #004684;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 10px;
}

.link {
  color: #ffffff;
  text-decoration: underline;
}
